@font-face {
    font-family: Armorhide; /*Nombre de la fuente*/
    src: url(/FONTS\Armorhide-Bold/Armorhide_Bold_Italic.otf) format('truetype'); /*Ruta de la fuente*/
  
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: CP_Mono; /*Nombre de la fuente*/
    src: url(/FONTS/CPMono_v07Bold/CPMono_v07_Black.otf) format('truetype'); /*Ruta de la fuente*/
  
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: Enigmatic; /*Nombre de la fuente*/
    src: url(FONTS\Enigmatic-Bold\Enigma__2.TTF) format('truetype'); /*Ruta de la fuente*/
  
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: CP_Mono_Light; /*Nombre de la fuente*/
    src: url(FONTS\CPMono_v07Bold\CPMono_v07_Light.otf) format('truetype'); /*Ruta de la fuente*/
  
    font-weight: normal;
    font-style: normal;
  }
  
  body {
      font-family: 'Enigmatic', sans-serif;
      background-image: linear-gradient(#6900A6, #18D000);
      color: #000000;
      margin: 0;
      padding: 0;
      font-size: 18px;
      overflow-x: hidden; /*Bloquea el desplazamiento horizontal*/
    }
    header {
      background-color: #18D000;
      color: white;
      padding: 10px;
      text-align: center;
      font-size: 1.2rem;
      z-index: 10000000000;
    }
    main {
      max-width: 1250px;
      margin: auto;
      padding: 40px 20px;
      z-index: 1000000000000;
    }
    h1 {
      color: #6900A6;
      font-size: 5rem;
      font-family: 'Armorhide', sans-serif;
      margin: 0 auto;
      position: relative;
      animation: mymove 5s;
      animation-fill-mode: forwards;
      z-index: 1000000000000;
    }
   @keyframes mymove{
    0%{ 
      left: -1500px;
    }
  
    50%{ 
      transform: skew(-15deg);
      left: 200px;
    }
    100%{ 
      transform: skew(0deg);
      left: 0px;
    }
  }
    
    h2{
  
      color: #000000;
      font-size: 3.5rem;
      z-index: 100000000000;
    }
  
    .menu{
  
      border-radius: 50px;
      text-align: center;
      font-size: 1rem;
      font-family: 'Enigmatic', sans-serif;
  
      margin: 5px;
      padding: 5px;
      box-sizing: border-box;
      position: relative;
  
      display: flex;
      justify-content: center;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-flow: row wrap;
      justify-items: center;
      z-index: 1000000;
  
  }
  
  a{
      text-decoration: none;
      color: #ffffff;
  }
  
  ul{
  
      list-style: none;
      padding: 10px;
      justify-content: center;
      justify-items: center;
      z-index: 1000000;
  }
  
  li{
      
      color: #ffffff;
      text-align: center;
      align-content: center;
      background-color: #6900A6;
      border-radius: 10px;
      align-items: center;
  
      font-size: 20px; /*Tamaño de la letra*/
      display: inline-block;
      width: 200px;
      height: 50px;
      z-index: 1000000;
  }
  li:hover{
  
      background-color: #390059;
      transition: background-color 0.3s ease-in;
  }
  
  .p1{
    font-size: 1.7rem;
    position: relative;
    animation-name: scale;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    z-index: 100000000000;
    font-family: 'Enigmatic', sans-serif;
  }
  @keyframes scale{
  
    from{
      transform: scale(1);
    }
    to{
      transform: scale(1.2);
    }
  }
  
  .p2{
  
    font-size: 1.5rem;
    z-index: 10000000000;
    font-family: 'Enigmatic', sans-serif;
  }
  
  .p3{
    font-size: 1rem; 
    z-index: 10000000000;
    font-family: 'Enigmatic', sans-serif;
  }
  
    .bienvenida {
      background-color: #fff3e0;
      border-left: 10px solid #18D000;
      padding: 20px;
      margin-bottom: 30px;
      border-radius: 10px;
      z-index: 100000000000;
      position: relative;
    }
    .epoca {
      background-color: #fff3e0;
      border: 5px solid #18D000;
      border-radius: 15px;
      padding: 20px;
      margin: 20px 0;
      transition: transform 0.3s ease;
      z-index: 10000000000000;
      position: relative;
    }
    .epoca:hover {
      transform: scale(1.07);
      transition: 0.3s;
    }
    .boton {
      display: inline-block;
      margin-top: 15px;
      padding: 10px 20px;
      background-color: #18D000;
      color: #ffffff;
      text-decoration: none;
      border-radius: 10px;
      transition: background-color 0.3s ease;
      z-index: 100000000000000;
      position: relative;
      font-size: 1.5rem;
    }
    .boton:hover {
      background-color: #0F8300;
      transition: background-color 0.3s ease-in;
    }
    footer{
      font-family: 'CP_Mono_Light', sans-serif;
      text-align: center;
      background-color: #6900A6;
      color: white;
      text-align: center;
      padding: 25px;
      margin-top: 10px;
      z-index: 100000000000000;
      position: relative;
      max-width: auto;
  }
  
    .cuadrado{
  
      width: 50px;
      height: 50px;
      background-color: #ffffff;
      top: 20px;
      left: 50px;
      display: flex;
      position: fixed;
      z-index: 1000;
      border-radius: 1px;
      animation: move;
      animation-name: cuadro;
      animation-iteration-count: infinite;
      animation-duration: 4s;
      animation-timing-function: linear;
  }
  @keyframes cuadro{
  
      from{
          opacity: 0;
          transform: translateY(-75px);
      }
      to{
          opacity: 1;
          transform: translateY(1000px);
      }
  }
  
  .cuadrado2{
  
      width: 75px;
      height: 75px;
      background-color: #ffffff;
      top: 20px;
      left: 250px;
      display: flex;
      position: fixed;
      z-index: 1000;
      border-radius: 1px;
      opacity: 0;
      animation: move;
      animation-name: cuadro2;
      animation-iteration-count: infinite;
      animation-duration: 4s;
      animation-delay: 6s;
      animation-timing-function: linear;
  }
  @keyframes cuadro2{
  
      from{
          opacity: 0;
          transform: translateY(-100px);
      }
      to{
          opacity: 1;
          transform: translateY(1000px);}
  }
  
  .cuadrado3{
  
      width: 25px;
      height: 25px;
      background-color: #ffffff;
      top: 20px;
      left: 450px;
      display: flex;
      position: fixed;
      z-index: 1000;
      border-radius: 1px;
      opacity: 0;
      animation: move;
      animation-name: cuadro3;
      animation-iteration-count: infinite;
      animation-duration: 4s;
      animation-delay: 3s;
      animation-timing-function: linear;
  }
  @keyframes cuadro3{
  
      from{
          opacity: 0;
          transform: translateY(-75px);
      }
      to{
          opacity: 1;
          transform: translateY(1000px);
      }
  }
  
  .cuadrado4{
  
      width: 65px;
      height: 65px;
      background-color: #ffffff;
      top: 20px;
      left: 600px;
      display: flex;
      position: fixed;
      z-index: 1000;
      border-radius: 1px;
      opacity: 0;
      animation: move;
      animation-name: cuadro4;
      animation-iteration-count: infinite;
      animation-duration: 3s;
      animation-delay: 4s;
      animation-timing-function: linear;
  }
  @keyframes cuadro4{
  
      from{
          opacity: 0;
          transform: translateY(-75px);
      }
      to{
          opacity: 1;
          transform: translateY(1000px);
      }
  }
  
  .cuadrado5{
  
      width: 85px;
      height: 85px;
      background-color: #ffffff;
      top: 20px;
      left: 775px;
      display: flex;
      position: fixed;
      z-index: 1000;
      border-radius: 1px;
      opacity: 0;
      animation: move;
      animation-name: cuadro5;
      animation-iteration-count: infinite;
      animation-duration: 7s;
      animation-delay: 2s;
      animation-timing-function: linear;
  }
  @keyframes cuadro5{
  
      from{
          opacity: 0;
          transform: translateY(-75px);
      }
      to{
          opacity: 1;
          transform: translateY(1000px);
      }
  }
  
  .cuadrado6{
  
      width: 100px;
      height: 100px;
      background-color: #ffffff;
      top: 20px;
      left: 1000px;
      display: flex;
      position: fixed;
      z-index: 1000;
      border-radius: 1px;
      opacity: 0;
      animation: move;
      animation-name: cuadro6;
      animation-iteration-count: infinite;
      animation-duration:3.5s;
      animation-delay: 3s;
      animation-timing-function: linear;
  }
  @keyframes cuadro6{
  
      from{
          opacity: 0;
          transform: translateY(-75px);
      }
      to{
          opacity: 1;
          transform: translateY(1000px);
      }
  }
  
  .cuadrado7{
  
      width: 35px;
      height: 35px;
      background-color: #ffffff;
      top: 20px;
      left: 1200px;
      display: flex;
      position: fixed;
      z-index: 1000;
      border-radius: 1px;
      opacity: 0;
      animation: move;
      animation-name: cuadro7;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      animation-delay: 5s;
      animation-timing-function: linear;
  }
  @keyframes cuadro7{
  
      from{
          opacity: 0;
          transform: translateY(-75px);
      }
      to{
          opacity: 1;
          transform: translateY(1000px);
      }
  }
  
  .cuadrado8{
  
      width: 120px;
      height: 120px;
      background-color: #ffffff;
      top: 20px;
      left: 1450px;
      display: flex;
      position: fixed;
      z-index: 1000;
      border-radius: 1px;
      opacity: 0;
      animation: move;
      animation-name: cuadro8;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      animation-delay: 3s;
      animation-timing-function: linear;
  }
  @keyframes cuadro8{
  
      from{
          opacity: 0;
          transform: translateY(-75px);
      }
      to{
          opacity: 1;
          transform: translateY(1000px);
      }
  }
  
  .cuadrado9{
  
      width: 85px;
      height: 85px;
      background-color: #ffffff;
      top: 20px;
      left: 1650px;
      display: flex;
      position: fixed;
      z-index: 1000;
      border-radius: 1px;
      opacity: 0;
      animation: move;
      animation-name: cuadro9;
      animation-iteration-count: infinite;
      animation-duration: 5s;
      animation-delay: 4s;
      animation-timing-function: linear;
  }
  @keyframes cuadro9{
  
      from{
          opacity: 0;
          transform: translateY(-75px);
      }
      to{
          opacity: 1;
          transform: translateY(1000px);
      }
  }
  
  .cuadrado10{
  
      width: 45px;
      height: 45px;
      background-color: #ffffff;
      top: 20px;
      left: 1800px;
      display: flex;
      position: fixed;
      z-index: 1000;
      border-radius: 1px;
      opacity: 0;
      animation: move;
      animation-name: cuadro10;
      animation-iteration-count: infinite;
      animation-duration: 4s;
      animation-delay: 7s;
      animation-timing-function: linear;
  }
  @keyframes cuadro10{
  
      from{
          opacity: 0;
          transform: translateY(-75px);
      }
      to{
          opacity: 1;
          transform: translateY(1000px);
      }
  }

  @media(max-width: 400px){

    html{
      font-size: 10px;
    }
    body {
      margin: 0;
    }
    header{
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
    z-index: 1000000;
    }
    h1 {
        color: #000000;
        z-index: 100000000;
        position: relative;
        animation: mymove 5s;
        animation-fill-mode: forwards;
        font-size: 5rem;
    }
    @keyframes mymove{

        0%{ 
            left: -1000px;
        }
        50%{
            transform: skewX(-15deg);
            left: 75px;
        }
        100%{ 
            transform: skewX(0deg);
            left: 0px;}
    }

    h2{
      color: #000000;
      font-size: 3.5rem;
      z-index: 100000000000;
    }
    footer{
      font-family: 'CP_Mono_Light', sans-serif;
      text-align: center;
      color: white;
      text-align: center;
      padding: 10px;
      margin-top: 5px;
      z-index: 100000000000000;
      position: relative;
  }
  #Titulo{

      text-align: center;
      font-family: 'Armorhide', sans-serif;
      margin: 5px;
      animation-timing-function: ease;
  }
  .menu{
      border-radius: 25px;
      text-align: center;
      font-size: .8rem;
      font-family: 'Enigmatic', sans-serif;
  
      margin: 5px;
      padding: 5px;
      box-sizing: border-box;
      position: relative;
  
      display: flex;
      justify-content: center;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-flow: row wrap;
      justify-items: center;
      z-index: 100000000;
  
  }
  ul{

      list-style: none;
      padding: 5px 5px;
      justify-content: center;
      justify-items: center;
      z-index: 1000000;
  }
  li{
  
      color: #ffffff;
      text-align: center;
      align-content: center;
      border-radius: 10px;
      align-items: center;
  
      font-size: 1.3rem; /*Tamaño de la letra*/
      display: inline-block;
      width: 95px;
      height: 30px;
      z-index: 1000000;
      margin-top: 5px;
  }
  .p1{
    font-size: 1.4rem;
    position: relative;
    animation-name: scale;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    z-index: 100000000000;
    font-family: 'Enigmatic', sans-serif;
  }
  @keyframes scale{
  
    from{
      transform: scale(1);
    }
    to{
      transform: scale(1.07);
    }
  }
  
  .p2{
  
    font-size: 1.3rem;
    z-index: 10000000000;
    font-family: 'Enigmatic', sans-serif;
  }
  
  .p3{
    font-size: 1rem; 
    z-index: 10000000000;
    font-family: 'Enigmatic', sans-serif;
  }
  .bienvenida {
    background-color: #fff3e0;
    border-left: 10px solid #18D000;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    z-index: 100000000000;
    position: relative;
  }
  .epoca {
    background-color: #fff3e0;
    border: 5px solid #18D000;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s ease;
    z-index: 10000000000000;
    position: relative;
  }
  .epoca:hover {
    transform: scale(1.04);
    transition: 0.3s;
  }
  .boton {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #18D000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    z-index: 100000000000000;
    position: relative;
    font-size: 1.3rem;
  }
  .boton:hover {
    background-color: #0F8300;
    transition: background-color 0.3s ease-in;
  }
  footer {
    background-color: #6900A6;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    z-index: 100000000000000;
    position: relative;
  } 

  }