@font-face{
    font-family: Armorhide; /*Nombre de la fuente*/
    src: url(/FONTS\Armorhide-Bold/Armorhide_Bold_Italic.otf) format('truetype'); /*Ruta de la fuente*/

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CP_Mono; /*Nombre de la fuente*/
    src: url(/FONTS/CPMono_v07Bold/CPMono_v07_Black.otf) format('truetype'); /*Ruta de la fuente*/

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Enigmatic; /*Nombre de la fuente*/
    src: url(FONTS\Enigmatic-Bold\Enigma__2.TTF) format('truetype'); /*Ruta de la fuente*/

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CP_Mono_Light; /*Nombre de la fuente*/
    src: url(FONTS\CPMono_v07Bold\CPMono_v07_Light.otf) format('truetype'); /*Ruta de la fuente*/

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CP_Mono_Black; /*Nombre de la fuente*/
    src: url(FONTS\CPMono_v07Bold\CPMono_v07_Black.otf) format('truetype'); /*Ruta de la fuente*/

    font-weight: normal;
    font-style: normal;
}

html{

    font-size: 18px;
}

body{

    background-image: linear-gradient(#6900A6, #18D000);
    margin: 0;
}

header{  
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
    z-index: 1000000;
}

h1{

    color: #000000;
    z-index: 100000000;
    position: relative;
    animation: mymove 5s;
    animation-fill-mode: forwards;
    font-size: 5rem;
}
@keyframes mymove{

    0%{ 
        left: -1700px;
    }
    50%{
        transform: skewX(-15deg);
        left: 200px;
    }
    100%{ 
        transform: skewX(0deg);
        left: 0px;}
}

h2{

    font-size: 3.5rem;
    text-align: center;
    color: #ffffff;
    font-family: 'CP_Mono_Black', sans-serif;
    border: 2px solid #ffffff;
    margin: 5px;
    border-radius: 5px;
}
.sub{
    grid-column: 2/7;
}

h3{
    display: grid;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    font-family: 'CP_Mono_Black<    ', sans-serif;
    margin: 5px;
}   

footer{
    font-family: 'CP_Mono_Light', sans-serif;
    text-align: center;
    background-color: #6900A6;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 10px;
    z-index: 100000000000000;
    position: relative;
}

#Titulo{

    text-align: center;
    font-family: 'Armorhide', sans-serif;
    margin: 10px;
    animation-timing-function: ease;
}

.menu{

    background-color: #18D000;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Enigmatic', sans-serif;

    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;

    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-items: center;
    z-index: 100000000;

}

a{
    text-decoration: none;
    color: #ffffff;
}

ul{

    list-style: none;
    padding: 10px 10px;
    justify-content: center;
    justify-items: center;
    z-index: 1000000;
}

li{
    
    color: #ffffff;
    text-align: center;
    align-content: center;
    background-color: #6900A6;
    border-radius: 10px;
    align-items: center;

    font-size: 20px; /*Tamaño de la letra*/
    display: inline-block;
    width: 200px;
    height: 50px;
    z-index: 1000000;
}
li:hover{

    background-color: #390059;
    transition: background-color 0.3s ease-in;
}

p{
    font-family: 'Enigmatic', sans-serif;
    font-size: 1.3rem;
}
main{
    margin: 8px;
}

.container-principal{
    display: grid;

    width: auto;
    height: 1500px;
    margin: 10px auto;
    padding: 5px 5px;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(23, 1fr);
    gap: 10px;
    z-index: 1000000;
}

.menu2{

    grid-column: 9/13;
    grid-row: 7/17;

    background-color: #18D000;
    margin: 0;
    border: 2px solid #ffffff;
    border-radius: 10px;
    z-index: 1000000;
    color: #ffffff;
}
.Biblio1{

    grid-column: 9/13;
}

.container1{

    display: grid;

    width: auto;
    height: 1500px;
    margin: 0 auto;
    padding: 5px 5px;
    border-radius: 10px;

    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    gap: 10px;
    
    text-align: center;
    color: #ffffff;
    font-family: 'Enimagtic', sans-serif;

    grid-column: 1/8;
    grid-row: 1/23;
    background-color: #6900A6;
    margin: 0;
    border: 2px solid #ffffff;
    z-index: 1000000;
}

.container2{
    grid-column: 1/5;
    grid-row: 2/9;
    z-index: 1000000;
}
.sub1{
    grid-column: 1/5;
}
.p1{
    padding: 5px;
    margin: 2px;
    text-align: left;
    text-align: justify;
    grid-column: 1/5;
    grid-row: 2/9;
}

.container3{
    display: grid;
    grid-column: 5/8;
    grid-row: 3/9;

    align-items: center;
    z-index: 1000000;
}
.Compu{

    width: 453.25px;
    height: 284.09px;
    border-radius: 20px;
    z-index: 1000000;
}

.container4{
    grid-column: 1/8;
    grid-row: 9/18;
    z-index: 1000000;
}
.sub2{
    grid-column: 2/7;
}
.Tenis{

    width: 350px;
    height: 300px;
    border-radius: 20px;
    grid-column: 3/6;
    grid-row: 11/14;
}
.OXO{

    width: 350px;
    height: 300px;
    border-radius: 20px;
    grid-column: 3/6;
    grid-row: 11/14;
}
.p2{

    padding: 5px;
    margin: 2px;
    text-align: left;
    text-align: justify;
    grid-column: 1/8;
    grid-row: 9/18;
}

.container5{
    
    grid-column: 1/8;
    grid-row: 18/22;
    z-index: 1000000;
}
.sub3{
    grid-column: 2/7;
}
.p3{

    padding: 5px;
    margin: 2px;
    text-align: left;
    text-align: justify;
    grid-column: 1/8;
    grid-row: 18/22;
}

.cuadrado{

    width: 50px;
    height: 50px;
    background-color: #ffffff;
    top: 20px;
    left: 50px;
    display: flex;
    position: fixed;
    z-index: 1000;
    border-radius: 1px;
    animation: move;
    animation-name: cuadro;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-timing-function: linear;
}
@keyframes cuadro{

    from{
        opacity: 0;
        transform: translateY(-75px);
    }
    to{
        opacity: 1;
        transform: translateY(1000px);
    }
}

.cuadrado2{

    width: 75px;
    height: 75px;
    background-color: #ffffff;
    top: 20px;
    left: 250px;
    display: flex;
    position: fixed;
    z-index: 1000;
    border-radius: 1px;
    opacity: 0;
    animation: move;
    animation-name: cuadro2;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 6s;
    animation-timing-function: linear;
}
@keyframes cuadro2{

    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(1000px);}
}

.cuadrado3{

    width: 25px;
    height: 25px;
    background-color: #ffffff;
    top: 20px;
    left: 450px;
    display: flex;
    position: fixed;
    z-index: 1000;
    border-radius: 1px;
    opacity: 0;
    animation: move;
    animation-name: cuadro3;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-timing-function: linear;
}
@keyframes cuadro3{

    from{
        opacity: 0;
        transform: translateY(-75px);
    }
    to{
        opacity: 1;
        transform: translateY(1000px);
    }
}

.cuadrado4{

    width: 65px;
    height: 65px;
    background-color: #ffffff;
    top: 20px;
    left: 600px;
    display: flex;
    position: fixed;
    z-index: 1000;
    border-radius: 1px;
    opacity: 0;
    animation: move;
    animation-name: cuadro4;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-timing-function: linear;
}
@keyframes cuadro4{

    from{
        opacity: 0;
        transform: translateY(-75px);
    }
    to{
        opacity: 1;
        transform: translateY(1000px);
    }
}

.cuadrado5{

    width: 85px;
    height: 85px;
    background-color: #ffffff;
    top: 20px;
    left: 775px;
    display: flex;
    position: fixed;
    z-index: 1000;
    border-radius: 1px;
    opacity: 0;
    animation: move;
    animation-name: cuadro5;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-delay: 2s;
    animation-timing-function: linear;
}
@keyframes cuadro5{

    from{
        opacity: 0;
        transform: translateY(-75px);
    }
    to{
        opacity: 1;
        transform: translateY(1000px);
    }
}

.cuadrado6{

    width: 100px;
    height: 100px;
    background-color: #ffffff;
    top: 20px;
    left: 1050px;
    display: flex;
    position: fixed;
    z-index: 1000;
    border-radius: 1px;
    opacity: 0;
    animation: move;
    animation-name: cuadro6;
    animation-iteration-count: infinite;
    animation-duration:3.5s;
    animation-delay: 3s;
    animation-timing-function: linear;
}
@keyframes cuadro6{

    from{
        opacity: 0;
        transform: translateY(-75px);
    }
    to{
        opacity: 1;
        transform: translateY(1000px);
    }
}

.cuadrado7{

    width: 35px;
    height: 35px;
    background-color: #ffffff;
    top: 20px;
    left: 1200px;
    display: flex;
    position: fixed;
    z-index: 1000;
    border-radius: 1px;
    opacity: 0;
    animation: move;
    animation-name: cuadro7;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-timing-function: linear;
}
@keyframes cuadro7{

    from{
        opacity: 0;
        transform: translateY(-75px);
    }
    to{
        opacity: 1;
        transform: translateY(1000px);
    }
}

.cuadrado8{

    width: 120px;
    height: 120px;
    background-color: #ffffff;
    top: 20px;
    left: 1450px;
    display: flex;
    position: fixed;
    z-index: 1000;
    border-radius: 1px;
    opacity: 0;
    animation: move;
    animation-name: cuadro8;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-delay: 3s;
    animation-timing-function: linear;
}
@keyframes cuadro8{

    from{
        opacity: 0;
        transform: translateY(-75px);
    }
    to{
        opacity: 1;
        transform: translateY(1000px);
    }
}

.cuadrado9{

    width: 85px;
    height: 85px;
    background-color: #ffffff;
    top: 20px;
    left: 1650px;
    display: flex;
    position: fixed;
    z-index: 1000;
    border-radius: 1px;
    opacity: 0;
    animation: move;
    animation-name: cuadro9;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-timing-function: linear;
}
@keyframes cuadro9{

    from{
        opacity: 0;
        transform: translateY(-75px);
    }
    to{
        opacity: 1;
        transform: translateY(1000px);
    }
}

.cuadrado10{

    width: 45px;
    height: 45px;
    background-color: #ffffff;
    top: 20px;
    left: 1800px;
    display: flex;
    position: fixed;
    z-index: 1000;
    border-radius: 1px;
    opacity: 0;
    animation: move;
    animation-name: cuadro10;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 7s;
    animation-timing-function: linear;
}
@keyframes cuadro10{

    from{
        opacity: 0;
        transform: translateY(-75px);
    }
    to{
        opacity: 1;
        transform: translateY(1000px);
    }
}

@media(max-width: 400px) {
    
    html{
        font-size: 10px;
    }
    body {
      margin: 0;
    }
    header{
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
    z-index: 1000000;
    }
    h1 {
        color: #000000;
        z-index: 100000000;
        position: relative;
        animation: mymove 5s;
        animation-fill-mode: forwards;
        font-size: 5rem;
    }
    @keyframes mymove{

        0%{ 
            left: -1000px;
        }
        50%{
            transform: skewX(-15deg);
            left: 75px;
        }
        100%{ 
            transform: skewX(0deg);
            left: 0px;}
    }

    h2 {
        font-size: 3.5rem;
        text-align: center;
        color: #ffffff;
        font-family: 'CP_Mono_Black', sans-serif;
        border: 2px solid #ffffff;
        margin: 5px;
        border-radius: 5px;
    }
    .sub{
        grid-column: 1/5;
        grid-row: 1;
    }
    h3{
        display: grid;
        font-size: 2rem;
        text-align: center;
        color: #ffffff;
        font-family: 'CP_Mono_Black', sans-serif;
        margin: 5px;
    } 
    footer{
        font-family: 'CP_Mono_Light', sans-serif;
        text-align: center;
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 5px;
        z-index: 100000000000000;
        position: relative;
    }
    #Titulo{

        text-align: center;
        font-family: 'Armorhide', sans-serif;
        margin: 5px;
        animation-timing-function: ease;
    }
    .menu{
        border-radius: 25px;
        text-align: center;
        font-size: .8rem;
        font-family: 'Enigmatic', sans-serif;
    
        margin: 5px;
        padding: 5px;
        box-sizing: border-box;
        position: relative;
    
        display: flex;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-items: center;
        z-index: 100000000;
    
    }
    ul{

        list-style: none;
        padding: 5px 5px;
        justify-content: center;
        justify-items: center;
        z-index: 1000000;
    }
    li{
    
        color: #ffffff;
        text-align: center;
        align-content: center;
        border-radius: 10px;
        align-items: center;
    
        font-size: 1.3rem; /*Tamaño de la letra*/
        display: inline-block;
        width: 95px;
        height: 30px;
        z-index: 1000000;
        margin-top: 5px;
    }
    p {
        font-family: 'Enigmatic', sans-serif;
        font-size: 1.3rem;
    }
    main{
        margin: 8px;
    }
    .container-principal{
        display: grid;
    
        width: auto;
        height: 1700px;
        margin: 10px auto;
        padding: 5px 5px;
    
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(30, 1fr);
        gap: 5px;
        z-index: 1000000;
    }
    .menu2{

        grid-column: 1/5;
        grid-row: 25/31;
        margin: 0;
        border: 2px solid #ffffff;
        border-radius: 10px;
        z-index: 1000000;
    
    }
    .Biblio1{

        grid-column: 3/5;
    }
    .container1{

        display: grid;
    
        width: auto;
        height: 1700px;
        margin: 0 auto;
        padding: 5px 5px;
        border-radius: 10px;
    
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        gap: 5px;
        
        text-align: center;
        color: #ffffff;
        font-family: 'Enimagtic', sans-serif;
    
        grid-column: 1/5;
        grid-row: 1/25;
        margin: 0;
        border: 2px solid #ffffff;
        z-index: 1000000;
    }
    .container2{
        grid-column: 1/5;
        grid-row: 2/6;
        z-index: 1000000;
    }
    .sub1{
        grid-column: 1/5;
        align-items: center;
        align-content: center;
    }
    .p1{
        padding: 5px;
        margin: 2px;
        text-align: left;
        text-align: justify;
        grid-column: 1/2;
        grid-row: 2/6;
    }
    .container3{
        display: grid;
        grid-column: 1/5;
        grid-row: 7/9;
    
        align-items: center;
        align-content: center;
        z-index: 1000000;
    }
    .Compu{
    
        width: 300px;
        height: 120px;
        border-radius: 20px;
        z-index: 1000000;
        align-content: center;
        grid-column: 2/4;
        grid-row: 6/8;
    }
    .container4{
        grid-column: 1/5;
        grid-row: 9/13;
        z-index: 1000000;
    }
    .sub2{
        grid-column: 2/4;
    }
    .Tenis{
    
        width: 200px;
        height: 150px;
        border-radius: 20px;
        grid-column: 1/3;
        grid-row: 12/15;
    }
    .OXO{
    
        width: 200px;
        height: 150px;
        border-radius: 20px;
        grid-column: 1/3;
        grid-row: 11/15;
    }
    .p2{
    
        padding: 5px;
        margin: 2px;
        text-align: left;
        text-align: justify;
        grid-column: 1/5;
        grid-row: 9/13;
    }
    .container5{
        grid-column: 1/5;
        grid-row: 20/24;
        z-index: 1000000;
    }
    .sub3{
        grid-column: 1/5;
    }
    .p3{
    
        padding: 5px;
        margin: 2px;
        text-align: left;
        text-align: justify;
        grid-column: 1/8;
        grid-row: 19/23;
    }
  }